.App {
  text-align: center;
  display:flex;
  flex-direction: column;
  min-height: 100vh;
}

.header{
  background-color: #000;
  box-shadow: #ccc 0 4px 6px;
  width: 100%;
  text-align: center;
  font-size: 30px;
  font-weight: 500;
  padding: 12px 0;
  color: #fff;
}

@media(max-width:768px){
  .inputControl{
    width: 100% !important;
  }
  .weatherDetails p{
    font-size: 15px !important;
  }
}