.weatherForcastSection{
    width: 100%;
    background: url(./Assets/weatherbg1.jpg) left top no-repeat, #fff;
    background-size: cover;
    height: calc(100vh - 64px);
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
}

.forcastInnerSection{
    width: 100%;
    background-color: #fff;
    padding: 1rem 2rem;
    box-sizing: border-box;
    text-align: left;
}

.inputControl{
    width: 48%;
    display: inline-block;
    flex-direction: column;
    margin-bottom: 20px;
    height: 40px;
    font-size: 18px;
    color: #777;
    border: #222 solid 1px;
    border-radius: 4px;
    padding: 5px 15px;
    margin-right: 3%;
    box-sizing: border-box;
    text-transform: capitalize;
}
.margin-right-0{
    margin-right: 0 !important;
}
.searchBtn{
    background: rebeccapurple;
    color: #fff;
    border: rebeccapurple solid 1px;
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
    display: block;
}
.weatherForcastSection h2{
    margin-top: 0px;
}

.weatherDetails{
    text-align: left;
    padding: 2rem;
    width: 100%;
    float: left;
    box-sizing: border-box;
}
.weatherDetails .leftSection{
    width: 50%;
    float: left;
}

.leftSection i{
    font-size: 80px;
}
.leftSection h5{
    font-size: 30px;
    margin: 10px 0 10px 0;
}
.weatherDetails .rightSection{
    width: 50%;
    float: left;
}
.weatherDetails p{
    margin: 0;
    padding-bottom: 10px;
}

.monthForCast{
    width: 90%;
    margin: 2rem auto;
    display: block;
    overflow: auto;
    white-space: nowrap;
    text-align: left;
    padding: 0 3rem;
}
.monthForCast .singleDaydata{
    width: 100px;
    height: 100px;
    background-color: rebeccapurple;
    padding: 1rem;
    margin-right: 15px;
    display: inline-block;
}